@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  scroll-behavior: smooth;

  background: #111111;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb25;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}
@media (prefers-color-scheme: light) {
  :root {
    font-size: 8px;
  }
}
pre {
  background: transparent !important;
}
code * {
  font-family: "JetBrains Mono" !important;
}

h1 {
  font-size: clamp(2.4rem, 4vw, 4.8rem) !important;
  font-weight: 700;
}

h2 {
  font-size: clamp(2rem, 3vw, 3.2rem) !important;
  font-weight: 700;
}

.motion-h1 {
  font-size: clamp(2.4rem, 4vw, 4.8rem) !important;
  font-weight: 700;
}

.motion-h2 {
  font-size: clamp(2rem, 3vw, 3.2rem) !important;
  font-weight: 700;
}

.gradient-mask {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 0%,
    black 60%,
    transparent 97%
  );
}

.gradient-mask-hero {
  mask-image: linear-gradient(
    to right,
    transparent -20%,
    black 30%,
    black 60%,
    transparent 120%
  );
}
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #3011ee;
}

::selection {
  color: white;
  background: #3011ee;
}
body.modalOpened {
  padding-right: 5px;
  overflow: hidden;
}
@media (max-width: 768px) {
  body.modalOpened {
    padding-right: 0;
    overflow: hidden;
  }
  .gradient-mask-sides {
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
  }
}
